<md-content flex="60" flex-sm="100" layout-padding>
    <form name="entity_form"
          id="{{ entity }}_form"
          onsubmit="return false;"
          action="{{ url }}"
          method="{{ method }}"
          data-ng-hide="loading"
          layout="column"
          flex="100"
          novalidate>
        <h2 ng-show="isSaved()">{{ entity }} #{{ getPk() }}</h2>
        <md-input-container data-ng-repeat="field in form.fields" flex="100" data-ng-if="field.type !== 'hidden'">
            <label data-ng-bind-html="field.label" ng-hide="field.type == 'switch'"></label>
            <!-- INPUT TYPE TEXT, URL OR PHONE -->
            <input type="{{ field.type }}" name="{{ entity + '_' + field.name }}" ng-model="model[field.name]" ng-if="isInputField(field)" ng-required="field.required">
            <!-- SWITCH -->
            <md-switch ng-model="model[field.name]" aria-label="field-label" ng-if="field.type == 'switch'" name="{{ entity + '_' + field.name }}">{{ field.label }}</md-switch>
            <!-- COMBO -->
            <md-autocomplete
                    ng-if="isComboField(field)"
                    md-no-cache="true"
                    md-selected-item="combos[field.name].value"
                    md-search-text="combos[field.name].search"
                    md-selected-item-change="setComboField(item, field)"
                    md-items="item in querySearch(combos[field.name].search, field)"
                    md-item-text="getLabel(item)"
                    md-min-length="1"
                    md-delay="500"
                    placeholder="Type something to search any {{field.label}}">
                <md-item-template>
                    <span md-highlight-text="combos[field.name].search" md-highlight-flags="^i">{{getLabel(item)}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{combos[field.name].search}}" were found.
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="submitForm()">Save</md-button>
    </form>
    <md-progress-circular md-mode="indeterminate" data-ng-show="loading" flex="100"></md-progress-circular>
</md-content>
