<md-content flex="35" flex-xs="100" layout-padding layout="column" class="api-list">
    <md-card>
        <md-card-title>
            <md-card-title-text layout="column">
                <p>[{{ count }} {{ i18N['elements'] }}]</p>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" layout-align="space-between">
            <md-input-container>
                <input type="search" class="form-control" ng-model="listSearch" placeholder="{{ i18N['search'] + ' ' + api }}">
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title>
            <div data-ng-hide="loading"
                 paging
                 page="actualPage"
                 page-size="limit"
                 total="count"
                 paging-action="paginate(page)"
                 data-ng-if="count > limit">
            </div>
        </md-card-title>
        <md-card-content flex layout="column" layout-padding layout-align="center center">
            <md-progress-circular flex="100" md-mode="indeterminate" data-ng-show="loading"></md-progress-circular>
            <md-list layout-fill layout="column" data-ng-hide="loading">
                <md-list-item
                              ng-click="loadItem(item, $event)"
                              data-ng-repeat="item in list"
                              aria-label="{{ api }} element {{getLabel(item)}}"
                              layout="row">
                    <p data-ng-bind="getLabel(item)" flex="80"></p>
                    <md-button aria-label="Delete" data-ng-click="deleteItem(item, $event)" class="md-fab md-warn md-mini">
                        <i class="fa fa-trash-o"></i>
                    </md-button>
                </md-list-item>
                <md-list-item ng-show="list.length == 0">
                    <p ng-bind="i18N['no_records']"></p>
                </md-list-item>
            </md-list>
        </md-card-content>
        <md-card-actions>
            <div data-ng-hide="loading"
                 paging
                 page="actualPage"
                 page-size="limit"
                 total="count"
                 paging-action="paginate(page)"
                 data-ng-if="count > limit">
            </div>
        </md-card-actions>
    </md-card>
</md-content>
