<md-content layout="column" flex="60" flex-sm="100" layout-padding>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <h2 ng-show="isSaved()">{{ entity }} #{{ getPk() }}</h2>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="submitForm()">
                <i class="fa fa-save"></i>
                <span ng-bind="i18N['save']"></span>
            </md-button>
            <md-button class="md-raised md-warn" ng-click="deleteItem(item, $event)" ng-show="isSaved()">
                <i class="fa fa-trash-o"></i>
                <span ng-bind="i18N['delete']"></span>
            </md-button>
            <md-button class="md-raised" ng-click="addNewItem()" ng-show="isSaved()">
                <i class="fa fa-plus-circle"></i>
                <span ng-bind="i18N['new']"></span>
            </md-button>
        </md-card-actions>
        <md-card-content layout="column" layout-align="space-between">
            <div class="text-center" data-ng-show="itemLoading" style="margin-top: 25%;">
                <md-progress-circular md-mode="indeterminate" flex="100"></md-progress-circular>
            </div>
            <form name="entity_form"
                  id="{{ entity }}_form"
                  onsubmit="return false;"
                  action="{{ url }}"
                  method="{{ method }}"
                  data-ng-hide="itemLoading"
                  layout="column"
                  flex="100"
                  novalidate>
                <md-input-container data-ng-repeat="field in form.fields" flex="100" data-ng-if="field.type !== 'hidden'">
                    <label data-ng-bind-html="field.label" ng-hide="field.type == 'switch'"></label>
                    <!-- INPUT TYPE TEXT, URL OR PHONE -->
                    <input type="{{ field.type }}" name="{{ entity + '_' + field.name }}" ng-model="model[field.name]" ng-if="isInputField(field)" ng-required="field.required" ng-readonly="field.readonly">
                    <!-- DATE -->
                    <md-datepicker ng-if="isDateField(field)" name="{{ entity + '_' + field.name }}" ng-model="model[field.name]" ng-required="field.required" ng-readonly="field.readonly"></md-datepicker>
                    <!-- SWITCH -->
                    <md-switch ng-model="dates[field.name]" aria-label="field-label" ng-if="field.type == 'switch'" name="{{ entity + '_' + field.name }}">{{ field.label }}</md-switch>
                    <!-- COMBO -->
                    <md-autocomplete
                            ng-if="isRelatedield(field)"
                            md-no-cache="true"
                            md-selected-item="combos[field.name].item"
                            md-search-text="combos[field.name].search"
                            md-selected-item-change="setComboField(item, field)"
                            md-items="item in querySearch(combos[field.name].search, field)"
                            md-item-text="getLabel(item)"
                            md-min-length="2"
                            md-delay="500"
                            ng-init="populateCombo(field)"
                            placeholder="Type something to search any {{field.label}}">
                        <md-item-template>
                            <span md-highlight-text="combos[field.name].search" md-highlight-flags="^i">{{getLabel(item)}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{combos[field.name].search}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                    <md-select ng-model="model[field.name]" ng-if="isComboField(field)">
                        <md-option ng-if="!field.required"><em>{{i18N['choose_one']}}</em></md-option>
                        <md-option ng-repeat="element in field.data" ng-value="element[field.name]">
                            {{element.Label}}
                        </md-option>
                    </md-select>
                    <textarea  ng-model="model[field.name]" ng-required="field.required" md-maxlength="field.size" rows="5" md-select-on-focus
                               ng-readonly="field.readonly" ng-if="isTextField(field)"></textarea>
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="submitForm()">
                <i class="fa fa-save"></i>
                <span ng-bind="i18N['save']"></span>
            </md-button>
            <md-button class="md-raised md-warn" ng-click="deleteItem(item, $event)" ng-show="isSaved()">
                <i class="fa fa-trash-o"></i>
                <span ng-bind="i18N['delete']"></span>
            </md-button>
            <md-button class="md-raised" ng-click="addNewItem()" ng-show="isSaved()">
                <i class="fa fa-plus-circle"></i>
                <span ng-bind="i18N['new']"></span>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
