{% set dump = "{% extends 'base.html.twig' %}
{% block styles %}
    {% styles
    '@" ~ module ~ "/css/styles.css'
    %}{% styles %}
{% endblock styles %}
{% block body_header %}
    <div class='page-header'>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock body_header %}
{% block body_content %}
    <div class='panel panel-default'>
        <div class='panel-body'>
            <h2>It works!</h2>
        </div>
    </div>
{% endblock body_content %}
{% block scripts %}
    {% scripts
    '@" ~ module ~ "/js/app.js'
    %}{% endscript %}
{% endblock scripts %}" %}
{{ dump | raw }}

