<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         verbose="true"
         cacheTokens="false"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="PSFS Test">
            <directory>./src/test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/base</directory>
            <directory suffix=".php">./src/controller</directory>
            <directory suffix=".php">./src/services</directory>
            <directory suffix=".php">./src/exception</directory>
            <file>./src/Dispatcher.php</file>
            <file>./src/autoload.php</file>
            <file>./src/bootstrap.php</file>
            <file>./src/functions.php</file>
            <exclude>
                <directory>./src/bin</directory>
                <directory>./src/public</directory>
                <directory>./src/test</directory>
                <directory>./src/templates</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
