<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="src/tests/bootstrap.php"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
>
    <testsuites>
        <testsuite name="default">
            <directory>src/tests</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/tests</directory>
            <directory>src/tests/examples</directory>
            <file>src/tests/services/GeneratorServiceTest.php</file>
        </exclude>
    </source>

    <php>
        <const name="PSFS_UNIT_TESTING_EXECUTION" value="true" />
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="zend.assertions" value="1"/>
        <ini name="assert.assertions" value="1"/>
        <ini name="xdebug.show_exception_trace" value="0"/>
    </php>
</phpunit>
