<!DOCTYPE html>
<html lang="{{ doc_lang|default('es') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% styles
            '/src/public/css/bootstrap.min.css'
            '/src/public/css/bootstrap-theme.min.css'
            '/src/public/css/timeline.css'
            '/src/public/css/shadowbox.css'
        %}{% endstyles %}
{% block head %}
    {% block seo %}
        <title>{% block doc_title %}{{ get_config('platform_name') }}{% endblock doc_title %}</title>
        <meta name="description" content="Php Simple Fast & Secure">
    {% endblock seo %}
{% endblock head %}
    </head>
    <body>
        <header role="banner">{% block header %}{% endblock header %}</header>
        <section>
        {% block body %}
            <article class="container">
                {% block body_header %}
                {% endblock body_header %}
                {% block body_content %}
                {% endblock body_content %}
                {% block body_footer %}
                {% endblock body_footer %}
            </article>
        {% endblock body %}
        </section>
        <footer role="contentinfo">{% block footer %}{% endblock footer %}</footer>
        {% scripts
        "/src/public/js/jquery.min.js"
        "/src/public/js/bootstrap.min.js"
        "/src/public/js/timeline.js"
        "/src/public/js/shadowbox.js"
        %}{% endscript %}
    {% block scripts %}
    {% endblock scripts %}
    </body>
</html>