<!DOCTYPE html>
{% set lang_html = get_config('default_language')|default('es_ES')|split("_") %}
<html lang="{{ lang_html }}" data-ng-app="{{ app_name|default('') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if __DEBUG__ is defined %}
        <meta name="robots" content="NOINDEX,NOFOLLOW">
        {% else %}
        <meta name="robots" content="INDEX,FOLLOW">
        {% endif %}
        {% styles
            '@ROOT/css/normalize.css'
            '@ROOT/css/bootstrap.min.css'
            '@ROOT/css/bootstrap-theme.min.css'
            '@ROOT/css/font-awesome.min.css'
            '@ROOT/css/typeahead.css'
        %}{% endstyles %}
        {% block styles %}{% endblock styles %}
{% block head %}
    {% block seo %}
        <title>{% block doc_title %}{{ get_config('platform_name') }}{% endblock doc_title %}</title>
        <meta name="description" content="Php Simple Fast & Secure">
    {% endblock seo %}
{% endblock head %}
    </head>
    <body>
        {% block menu %}
        {% include 'top.menu.html.twig' %}
        {% endblock menu %}
        <header role="banner">{% block header %}{% endblock header %}</header>
        <section>
        {% block body %}
            <article class="container">
                {% block body_header %}
                {% endblock body_header %}
                {% block body_content %}
                {% endblock body_content %}
                {% block body_footer %}
                {% endblock body_footer %}
            </article>
        {% endblock body %}
        </section>
        <footer role="contentinfo">{% block footer %}{% endblock footer %}</footer>
        <a id="back-to-top" href="#" class="btn btn-default back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    {% block base_scripts %}
        {% scripts
        "@ROOT/js/jquery.min.js"
        "@ROOT/js/bootstrap.min.js"
        "@ROOT/js/typeahead.js"
        "@ROOT/js/angular.js"
        "@ROOT/js/bootbox.js"
        "@ROOT/js/admins.js"
        %}{% endscript %}
    {% endblock base_scripts %}
    {% block scripts %}
    {% endblock scripts %}
    {% include 'debug.html.twig' %}
    </body>
</html>