<!DOCTYPE html>
<html lang="{{ get_config('default_language')|default('es') }}" ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="NOINDEX,NOFOLLOW">
        {% styles
            '/src/public/css/bootstrap.min.css'
            '/src/public/css/bootstrap-theme.min.css'
            '/src/public/css/font-awesome.min.css'
            '/src/public/css/timeline.css'
            '/src/public/css/shadowbox.css'
        %}{% endstyles %}
{% block head %}
    {% block seo %}
        <title>{% block doc_title %}{{ get_config('platform_name') }}{% endblock doc_title %}</title>
        <meta name="description" content="Php Simple Fast & Secure">
    {% endblock seo %}
{% endblock head %}
    {{ asset('/src/public/js/jquery-1.11.1.min.map', '/js/jquery-1.11.1.min.map', false) }}
    {{ asset('/src/public/js/angular.min.js.map', '/js/angular.min.js.map', false) }}
    </head>
    <body>
        {% include 'top.menu.html.twig' %}
        <header role="banner">{% block header %}{% endblock header %}</header>
        <section>
        {% block body %}
            <article class="container">
                {% block body_header %}
                {% endblock body_header %}
                {% block body_content %}
                {% endblock body_content %}
                {% block body_footer %}
                {% endblock body_footer %}
            </article>
        {% endblock body %}
        </section>
        <footer role="contentinfo">{% block footer %}{% endblock footer %}</footer>
        <a id="back-to-top" href="#" class="btn btn-default back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        {% scripts
        "/src/public/js/jquery.min.js"
        "/src/public/js/bootstrap.min.js"
        "/src/public/js/angular.js"
        "/src/public/js/jquery-ui.min.js"
        "/src/public/js/jquery.autocomplete.js"
        "/src/public/js/timeline.js"
        "/src/public/js/shadowbox.js"
        "/src/public/js/bootstrap.slider.js"
        "/src/public/js/bootbox.js"
        "/src/public/js/admins.js"
        %}{% endscript %}
    {% block scripts %}
    {% endblock scripts %}
    {% include 'debug.html.twig' %}
    </body>
</html>