{% set base_version = get_config('admin.version', 'v1') %}
{% extends base_version ~ '/base.html.twig' %}
{% block body_header %}
    <md-subheader class="md-primary page-header">
        <h2>{{ "Herramienta de Administración"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </md-subheader>
{% endblock body_header %}
{% block body_content %}
{% endblock body_content %}
{% block scripts %}
{% endblock scripts %}
