{% set base_version = get_config('admin.version', 'v1') %}
{% extends '@ROOT/' ~ base_version ~ '/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
        <h2>{{ "Herramienta de Administración"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    <section class="row">
        <article class="col-xs-offset-3 col-xs-6 thumbnail">
            <img src="{{ asset("@ROOT/image/admin.svg") }}" alt="welcome"/>
        </article>
    </section>
{% endblock body_content %}
{% block scripts %}
{% endblock scripts %}
