{% set base_version = get_config('admin.version', 'v1') %}
{% extends base_version ~ '/base.html.twig' %}
{% block body_header %}
    <md-subheader class="page-header">
        <h2>{{ "Herramienta de Gestión de Módulos"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </md-subheader>
{% endblock body_header %}
{% block body_content %}
    {{ form(form) }}
{% endblock body_content %}
{% block scripts %}
    {% if base_version == 'v1' %}
    <script type="text/javascript" src="{{ asset('@ROOT/js/admins.js') }}"></script>
    {% endif %}
{% endblock scripts %}
