{% extends '@ROOT/v1/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
        <h2>{{ "Module management tool"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    {{ form(form) }}
{% endblock body_content %}
{% block scripts %}
        <script type="text/javascript" src="{{ asset('@ROOT/js/admins.js') }}"></script>
{% endblock scripts %}
