{% extends '@ROOT/v1/base.html.twig' %}
{% block body_header %}
    <div class="page-header">
        <h1>{{ "You do not have enough privileges to access this area"|trans }}</h1>
        <h2>{{ get_config('platform.name') }}</h2>
    </div>
{% endblock body_header %}
{% block body_content %}
    <p>{{ "The route you are trying to access %s is restricted"|trans }}</p>
{% endblock body_content %}
{% block scripts %}
{% endblock scripts %}
