<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="2;url={{ route }}">
    </head>
    <body>
    <h5 style="color: #666; text-align: center; text-shadow: 1px 1px 1px #999;">Acceso permitido... redirigiendo!!</h5>
    </body>
</html>