{% extends 'base.html.twig' %}
{% block body_header %}
    <div class="page-header">
        <h1>{{ "Herramienta de configuración"|trans }}</h1>
        <h2>{{ get_config('platform.name') }}</h2>
    </div>
{% endblock body_header %}
{% block body_content %}
    {{ form(config) }}
{% endblock body_content %}
{% block scripts %}
    <script type="text/javascript" src="{{ asset('@ROOT/js/configForm.js') }}"></script>
{% endblock scripts %}
