{% set base_version = get_config('admin.version', 'v1') %}
{% extends '@ROOT/' ~ base_version ~ '/base.html.twig' %}
{% block header %}
    <div class="page-header col-xs-12">
        <h2>{{ "Herramienta de configuración"|trans }}</h2>
        <h1>{{ get_config('platform.name') }}</h1>
    </div>
{% endblock header %}
{% block body_content %}
    {{ form(config) }}
{% endblock body_content %}
{% block scripts %}
    {% if base_version == 'v1' %}
    <script type="text/javascript" src="{{ asset('@ROOT/js/configForm.js') }}"></script>
    {% endif %}
{% endblock scripts %}
