/* latin-ext */
html {
  background: white;
}
html body {
  padding-top: 50px;
}
html body.container {
  position: relative !important;
}
@media (min-width: 1200px) {
  html body.container {
    width: 1170px !important;
  }
}
@media (min-width: 992px) {
  html body.container {
    width: 970px !important;
  }
}
html body * {
  font-family: "Roboto", Verdana;
}
html body .tt-menu {
  width: 100%;
  background: white;
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
html body .form-group .twitter-typeahead {
  width: 100% !important;
}
html body .form-group .form-control, html body .form-group .input-group-addon, html body .form-group .input-group-addon .btn {
  border: 1px solid #FAFAFA;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
html body .form-group.has-error .form-control {
  border: 1px solid #F5A9A9;
  box-shadow: 0 1px 3px 0 rgba(180, 4, 4, 0.2), 0 1px 1px 0 rgba(180, 4, 4, 0.14), 0 2px 1px -1px rgba(180, 4, 4, 0.12);
}
html body .form-group.has-success .form-control {
  border: 1px solid #5FB404;
  box-shadow: 0 1px 3px 0 rgba(33, 97, 11, 0.2), 0 1px 1px 0 rgba(33, 97, 11, 0.14), 0 2px 1px -1px rgba(33, 97, 11, 0.12);
}
html body md-dialog {
  padding: 20px;
}
html body md-dialog button {
  border-radius: 5px;
}
html body md-dialog button.md-confirm-button {
  border-color: #d43f3a;
  background: #d9534f;
  color: white !important;
}
html body md-dialog button.md-confirm-button:hover {
  background-color: #d9534f !important;
}
html body header .page-header {
  margin: 10px 0;
}
html body .navbar .dropdown .dropdown-menu {
  max-height: 300px;
  overflow: auto;
}
html body .api-list, html body .api-form {
  background: white;
  padding-bottom: 50px;
}
html body .api-list .panel, html body .api-form .panel {
  padding: 0;
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
html body .api-list .panel .panel-heading .form-actions, html body .api-form .panel .panel-heading .form-actions {
  margin-top: 15px;
}
html body .api-list .panel .panel-heading .input-group .btn-default, html body .api-form .panel .panel-heading .input-group .btn-default {
  border: 1px solid #fafafa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
html body .api-list .panel .panel-body .form-group textarea, html body .api-form .panel .panel-body .form-group textarea {
  resize: none;
}
html body .api-list .panel .panel-body .form-group .btn-group, html body .api-form .panel .panel-body .form-group .btn-group {
  padding: 0 0 10px;
}
html body .api-list .panel .panel-body .form-group .btn-group .btn, html body .api-form .panel .panel-body .form-group .btn-group .btn {
  min-width: 50px;
}
html body .api-list .panel .panel-body .form-group .btn-group .btn:focus, html body .api-form .panel .panel-body .form-group .btn-group .btn:focus {
  outline: none;
}
html body .api-list .panel .panel-body .form-group md-autocomplete md-autocomplete-wrap, html body .api-form .panel .panel-body .form-group md-autocomplete md-autocomplete-wrap {
  border-radius: 4px;
}
html body .api-list .panel ul.list-group li.btn-group, html body .api-form .panel ul.list-group li.btn-group {
  padding: 0;
  min-height: 36px;
}
html body .api-list .panel ul.list-group li.btn-group .btn, html body .api-form .panel ul.list-group li.btn-group .btn {
  text-decoration: none;
}
html body .api-list .panel ul.list-group li.btn-group .btn.btn-link, html body .api-form .panel ul.list-group li.btn-group .btn.btn-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body .api-list .panel ul.list-group li.btn-group .btn:hover, html body .api-form .panel ul.list-group li.btn-group .btn:hover {
  font-weight: bolder;
}
html body .api-list .panel ul.list-group li.btn-group .btn:hover.btn-link, html body .api-form .panel ul.list-group li.btn-group .btn:hover.btn-link {
  background: #DFDFDF;
  border: 1px solid #AFAFAF;
}
html body .api-list .panel .form-actions, html body .api-form .panel .form-actions {
  float: right;
}
html body .api-list .panel .action-cleaner, html body .api-form .panel .action-cleaner {
  clear: both;
  display: block;
}
html body .pagination {
  margin: 0;
}
html body #back-to-top {
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  position: fixed;
  bottom: 2%;
  right: 1%;
}
html body .md-autocomplete-suggestions-container .md-autocomplete-suggestions * {
  color: black;
}

/*# sourceMappingURL=styles.css.map */
