<!DOCTYPE html>
<html lang="{{ doc_lang|default('es') }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="{{ asset('/lib/psfs/src/public/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('/lib/psfs/src/public/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
{% block head %}
    {% block seo %}
        <title>{% block doc_title %}PSFS{% endblock doc_title %}</title>
        <meta name="description" content="Php Simple Fast & Secure">
    {% endblock seo %}
{% endblock head %}
    </head>
    <body>
        <header>{% block header %}{% endblock header %}</header>
        <section class="container">
        {% block body %}
            <article class="row">
                {% block body_header %}
                {% endblock body_header %}
                {% block body_content %}
                {% endblock body_content %}
                {% block body_footer %}
                {% endblock body_footer %}
            </article>
        {% endblock body %}
        </section>
        <footer>{% block footer %}{% endblock footer %}</footer>
    <script type="text/javascript" src="{{ asset('/lib/psfs/src/public/js/bootstrap.min.js') }}"
    {% block scripts %}
    {% endblock scripts %}
    </body>
</html>