{% spaceless %}
<button
{% for name,value in button %}
    {% if name not in ['class', 'value'] %}
        {{ name ~ '=' ~ value }}
    {% endif %}
{% endfor %}
class="btn {{ button.class|default('btn-primary') }}"
>
    {% if button.icon %}
    <i class="{{ button.icon }}"></i>&nbsp;
    {% endif %}
    {{ button.value|default('Guardar') }}
</button>
{% endspaceless %}